<!DOCTYPE html>
            <html lang="es">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Mexiwear - Productores de Playeras</title>
                <meta name="description" content="Fábrica de playeras, maquila de playeras, productor de playeras. Productores de playeras. Mexiwear Playeras.">
                <meta name="keywords" content="playeras, productor playeras, playeras de algodón, maquilar playeras, maquilado de playeras, producción de playeras, impresión de playeras, estampado de playeras">
                <meta name="robots" content="index, follow">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="build/css/app.css">
            
                <link rel="icon" type="image/png" href="img/favicon/mxwfavi.png">
            </head>
            <body>
              <header class="header">
                <div class="contenedor contenido-header">
                  <div class="logos">
                    <a href="/" class="mexiwear-logo"><img src="img/MEXIWEAR FINAL LOGO-01.svg" alt="mexiwear logo"></a>
                    <a href="#" class="berep-logo"><img src="img/by BEREP LOGO-01-01.svg" alt="berep logo"></a>
                  </div>
                    
            
                  
                  <!-- <div class="idiomas">
                    <span class="lang-act">Español</span>
                    <input type="checkbox" name="" id="checkbox-lang" class="check" >
                    <span class="lang-inact">English</span>
                  </div> -->
                   
                    <nav class="navegacion-principal homepage">
                        <a href="#nosotros">Nosotros</a>
                        <a href="#productos">Productos</a>
                        <a href="#traslados">Traslados</a>
                        <a href="#contacto">Contacto</a>
                        <div class="flags">
                          <!-- <div class="flags_item">
                            <img src="img/favicon/mx.svg" alt="bandera Mexico" data-language="esp">
                            <span class="lang-act">Esp</span>
                          </div> -->
                          <div class="flags_item">
                            <a href="/index-en">
                              <img src="img/favicon/us.svg" alt="bandera EEUU" data-language="eng">
                            </a>
                            <span class="lang-act">Eng</span>
                          </div>
                        </div>
                    </nav>
                    
                </div>
              </header>
            

 