<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mexiwear - Productores de Playeras</title>
    <meta name="description" content="Fábrica de playeras, maquila de playeras, productor de playeras. Productores de playeras. Mexiwear Playeras.">
    <meta name="keywords" content="playeras, productor playeras, playeras de algodón, maquilar playeras, maquilado de playeras, producción de playeras, impresión de playeras, estampado de playeras">
    <meta name="robots" content="index, follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="build/css/app.css">

    <link rel="icon" type="image/png" href="img/favicon/mexiwear favicon.png">
</head>
<body>
  <header class="header">
    <div class="contenedor contenido-header">
      <div class="logos">
        <a href="#" class="mexiwear-logo"><img src="img/MEXIWEAR FINAL LOGO-01.svg" alt="mexiwear logo"></a>
        <a href="#" class="berep-logo"><img src="img/by BEREP LOGO-01-01.svg" alt="berep logo"></a>
      </div>
        

      
      <!-- <div class="idiomas">
        <span class="lang-act">Español</span>
        <input type="checkbox" name="" id="checkbox-lang" class="check" >
        <span class="lang-inact">English</span>
      </div> -->
       
        <nav class="navegacion-principal">
            <a href="#nosotros">Nosotros</a>
            <a href="#productos">Productos</a>
            <a href="#traslados">Traslados</a>
            <a href="#contacto">Contacto</a>
            <div class="flags">
              <!-- <div class="flags_item">
                <img src="img/favicon/mx.svg" alt="bandera Mexico" data-language="esp">
                <span class="lang-act">Esp</span>
              </div> -->
              <div class="flags_item">
                <a href="en/index.html">
                  <img src="img/favicon/us.svg" alt="bandera EEUU" data-language="eng">
                </a>
                <span class="lang-act">Eng</span>
              </div>
            </div>
        </nav>
        
    </div>
  </header>

  <div class="video">
    <div class="overlay">
      <div class="contenedor contenido-video">
        <h2>Mexiwear by BEREP, S.A. de C.V.</h2>
        <p>Más de 30 años de experiencia con la más alta calidad en la confección de playeras.</p>
        <div class="botones">
          <a href="full-package.html" class="boton">Paquete Completo</a>
          <a href="maquila.html" class="boton">Maquilado</a>
        </div>
      </div>
    </div>
    <video autoplay muted loop >
      <source src="video/tela-115790.mp4" type="video/mp4">
      <source src="video/tela-115790.mp4" type="video/ogg">
      <source src="video/tela-115790.mp4" type="video/webm">
    </video>

  </div>

  <section class="contenedor" id="nosotros">
    <h2 class="quienes">¿Quienes Somos?</h2>
    <div class="nosotros">
      <div class="imagen">
        <img src="img/tienda-ropa-tienda-ropa-perchas.jpg.webp" alt="imagen playeras">
      </div>
      <div class="contenido-nosotros">
        <h3>Mexiwear</h3>
        <p>Somos una empresa 100% mexicana, con más de 30 años de experiencia en la confección de playeras.</p>
      </div>
     
    </div>
    <div class="mvv">
      <div class="apartado">
        <h4>Misión</h4>
        <p>Desempeñear un papel en el éxito de nuestros clientes brindándoles la mejor fuerza laboral en ropa de calidad
          y garantizando los mejores tiempos de entrega.</p>
      </div>
      <div class="apartado">
        <h4>Visión</h4>
        <p>Ser una empresa internacional comprometida con el desarrollo de prendas de vestir de alta calidad y
          consolidando relaciones estables con nuestros proveedores y clientes.</p>
      </div>
      <div class="apartado">
        <h4>Valores</h4>
        <p>"Nuestro compromiso es trabajar con determinación, honestidad y disciplina, para que nuestra
          experiencia la obtengamos con humildad y trabajo duro que nos permita ofrecer un servicio honorable."</p>
      </div>
    </div>
   

  </section> <!-- FIN QUIENES SOMOS -->

  <section class="contenedor">
    <div class="title-style-2" id="productos">
      <div class="contenedor">
          <h2 class="titulo-2"> <span class="light"> Nuestros </span><span class="resaltar">Productos</span></h2>
      </div>

 </div>

 <div class="contenedor productos">

        
  <div class="col-productos">
      <article class="producto center">
          <h3 class="center title-style-3">Playera Básica</h3>
          <div class="grid_productos">
              <img src="img/playera.png" alt="imagen playera cuello redondo" class="producto">

              <div class="descripcion-producto">
                  <p class=""><h2 class="alinear">Características</h2>
                      <ul>
                          <li>Cuello Redondo</li>
                          <li>Manga Corta</li>
                          <li>Manga Larga</li>
                          <li>Dama y Caballero</li>
                      </ul>
                  </p>
              </div>
            
          </div>
      </article>

      <article class="producto center">
          <h3 class="center title-style-3">Playera Cuello V</h3>
          <div class="grid_productos">
              <img src="img/PLayera V.png" alt="imagen playera-v" class="producto">
              <p><h2 class="alinear">Características</h2>

                <div class="descripcion-producto container">
                  <ul>
                    <li>Cuello en V</li>
                    <li>Manga Corta</li>
                    <li>Manga Larga</li>
                    <li>Dama y Caballero</li>
                </ul>
                </div>
                  
              </p>
          </div>
      </article>

      <article class="producto center">
          <h3 class="center title-style-3">Playera Ranglan</h3>
          <div class="grid_productos">
              <img src="img/ranglan.png" alt="imagen ranglan" class="producto">
               
               <div class="descripcion-producto">
                <h2 class="alinear">Características</h2>
                  <ul>
                    <li>Cuello Redondo</li>
                    <li>Manga Larga</li>
                    <li>Manga Colores</li>
                    <li>Dama y Caballero</li>
                  </ul>
               </div>

                 
              
          </div>
      </article>

      <article class="producto center bottom">
          <h3 class="center title-style-3">Playera Tank Top</h3>
          <div class="grid_productos">
              <img src="img/tank top.png" alt="imagen tank-top" class="producto">
              <div class="descripcion-producto">
                  <p><h2 class="alinear">Características</h2>
                      <ul>
                          <li>Cuello Redondo</li>
                          <li>Sin Mangas</li>
                          <li>Dama y Caballero</li>
                      </ul>
                  </p>
              </div>
           
          </div>
      </article>

  </div>
  



</div><!--fin Entrada PRODUCTOS--> 
  </section>
  
  <section class="traslados" id="traslados">
    <div class="contenedor">
      <h2 class="titulo-2"> <span class="resaltar">Traslados</span></h2>
    </div> <!--DIVISION-->


<div class="traslados-div">
  

   <div class="contenedor">

        <p class="desc-instalaciones"></p>
        <div class="col-productos">
            <article class="producto center">
                <h3 class="center title-style-3">Ixtlahuaca - Laredo</h3>
                <div class="grid_traslados">
                    <img src="img/ixtlahuaca-laredo.jpg" alt="imagen instalaciones" class="traslado">
                    <p><h3 class="alinear mt-4 mb-5">Traslado Ixtlahuaca - Laredo en 24 Horas.</h3>
                  
                </div>
            </article>
    
            <article class="producto center">
                <h3 class="center title-style-3">Laredo - L.A.</h3>
                <div class="grid_traslados">
                    <img src="img/laredo-california.jpg" alt="manufactura" class="traslado">
                    <p><h3 class="alinear mt-5 mb-5">Traslado Laredo, TX - Los Angeles, CA en 4 días.</h3>
                      
                    </p>
                </div>
            </article>
        </div>
        <div class="container">
            <img src="img/traslado.jpg" alt="" class="traslado mb-5">
        </div>

  

</div><!--fin Entrada--> 
</div>
  </section>

  <section class="contacto" id="contacto">
    


<div class="fondo-div">

  <!--Section: Contact v.2-->
<section class="mt-4 container white">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4 pt-4">Contacto</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Tiene dudas o preguntas, no dude en contactarnos.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                          <label for="name" class="">Nombre Completo</label>
                            <input type="text" id="name" name="name" class="form-control">
                            
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                          <label for="email" class="">Correo Electrónico</label>
                            <input type="text" id="email" name="email" class="form-control">
                            
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                          <label for="subject" class="">Asunto</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                            
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                          <label for="message">Mensaje</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left m-3">
                <a class="btn btn-dark p-3 text-lg-center fw-bold" onclick="document.getElementById('contact-form').submit();">Enviar</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Bartolo Morelos, Edo. Méx.</p>
                </li>
<!-- 
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li> -->

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>jaaxventas@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</div>
  </section>
  
  <footer class="footer">
    <div class="contenedor contenido-footer">
      <div class="logos">
        <a href="#" class="mexiwear-logo"><img src="img/MEXIWEAR FINAL LOGO BLANCO-01.svg" alt="mexiwear logo"></a>
        <a href="#" class="berep-logo"><img src="img/by BEREP LOGO-01-01.svg" alt="berep logo"></a>
      </div>
        
       
        <nav class="navegacion-principal">
            <a href="#nosotros">Nosotros</a>
            <a href="#productos">Productos</a>
            <a href="#traslados">Traslados</a>
            <a href="#contacto">Contacto</a>
        </nav>
    </div>
    <p class="derechos">Todos los Derechos Reservados - Mexiwear &copy <%= actualYear %></p>
    
  </footer>

  <div class="powered">
    
    <p>Powered by <a href="https://www.github.com/animaz15" class="animaz">Animaz</a></p> 
  </div>
<script src="js/app.js"></script>
<script src="server.js"></script>
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->