<%- include('partials/header') -%>

<div class="video">
    <div class="overlay">
      <div class="contenedor contenido-video">
        <h2>Paquete Completo</h2>
        <p>Más de 30 años de experiencia con la más alta calidad en la confección de playeras.</p>
       
      </div>
    </div>
    
   <img src="img/pexels-francesco-paggiaro-2294342(2).jpg">

  </div> <!--DIV VIDEO-->

  <section class="contenedor" id="nosotros">
    <h2 class="quienes">Paquete Completo</h2>
    <div class="nosotros">
      <div class="imagen">
        <img src="img/pexels-chelsi-peter-1564149(1).jpg" alt="imagen playeras">
      </div>
      <div class="contenido-nosotros">
        <h3>Lo que necesitas</h3>
        <p>Nuestro paquete completo incluye áreas de corte, confección, todas con capacidades instaladas.</p>
      </div>
     
    </div>
   

  </section> <!-- FIN QUIENES SOMOS -->


  <section class="contenedor">
    <div class="title-style-2" id="productos">
      <div class="contenedor">
          <h2 class="titulo-2"> <span class="light"> Nuestras </span><span class="resaltar">Playeras</span></h2>
      </div>

 </div>

 <div class="contenedor playeras">

        
  <div class="col-playeras">
      <article class="">
         
          <div class="centrar">
            <div class="contenedor-img">
                <img src="img/pexels-chelsi-peter-1564149(1).jpg" alt="imagen playera cuello redondo" class="playera">
                <div class="overlay-img">
                  Descripción de Producto
                </div>
            </div>
                          
          </div>
      </article>

      <article class="center">
         
          <div class="contenedor-img">
              <img src="img/pexels-francesco-paggiaro-2294342(2).jpg" alt="imagen playera-v" class="playera">
              <div class="overlay-img">
                Descripción de Producto
              </div>
        
          </div>
      </article>

      <article class="center">
          
          <div class="contenedor-img">
              <img src="img/pexels-kai-pilger-996329(1).jpg" alt="imagen ranglan" class="playera">
              <div class="overlay-img">
                Descripción de Producto
              </div>         
              
          </div>
      </article>

      <article class="center">
          
          <div class="contenedor-img">
              <img src="img/pexels-muffin-creatives-2205839(1).jpg" alt="imagen tank-top" class="playera">
              <div class="overlay-img">
                Descripción de Producto
              </div>
           
          </div>
      </article>

      <article class="center">
        
        <div class="contenedor-img">
            <img src="img/pexels-chelsi-peter-1564149(1).jpg" alt="imagen tank-top" class="playera">
            <div class="overlay-img">
                Descripción de Producto
            </div>
         
        </div>
    </article>

    <article class="center bottom">
        
        <div class="contenedor-img">
            <img src="img/pexels-kai-pilger-996329(1).jpg" alt="imagen tank-top" class="playera">
            <div class="overlay-img">
                Descripción de Producto
            </div>
         
        </div>
    </article>

  </div>
 </div>
  </section>

<%- include('partials/contacto') -%>
<%- include('partials/footer') -%>