<%- include('en/headersec') -%>

<div class="video">
    <div class="overlay">
      <div class="contenedor contenido-video">
        <h2>Full Package</h2>
        <p>Our complete package includes...</p>
       
      </div>
    </div>
    
   <img src="img/pexels-francesco-paggiaro-2294342(2).jpg">

  </div> <!--DIV VIDEO-->

  <section class="contenedor" id="nosotros">
    <h2 class="quienes">Full Package</h2>
    <div class="nosotros">
      <div class="imagen">
        <img src="img/pexels-chelsi-peter-1564149(1).jpg" alt="imagen playeras">
      </div>
      <div class="contenido-nosotros">
        <h3>We deliver what you need...</h3>
        <p>Our complete package includes cutting and sewing areas, all with installed capacities.</p>
      </div>
     
    </div>
   

  </section> <!-- FIN QUIENES SOMOS -->


  <!-- <section class="contenedor">
    <div class="title-style-2" id="productos">
      <div class="contenedor">
          <h2 class="titulo-2"> <span class="light"> Our </span><span class="resaltar">T-Shirts</span></h2>
      </div>

 </div>

 <div class="contenedor playeras">

        
  <div class="col-playeras">
      <article class="my-5">
         
          <div class="centrar">
            <div class="contenedor-img">
                <img src="img/pexels-chelsi-peter-1564149(1).jpg" alt="imagen playera cuello redondo" class="playera">
                <div class="overlay-img">
                  Printing Technique 1
                </div>
            </div>
                          
          </div>
      </article>

      <article class="my-5">
         
          <div class="contenedor-img">
              <img src="img/pexels-francesco-paggiaro-2294342(2).jpg" alt="imagen playera-v" class="playera">
              <div class="overlay-img">
                Printing Technique 2
              </div>
        
          </div>
      </article>

      <article class="my-5">
          
          <div class="contenedor-img">
              <img src="img/pexels-kai-pilger-996329(1).jpg" alt="imagen ranglan" class="playera">
              <div class="overlay-img">
                Printing Technique 3
              </div>         
              
          </div>
      </article>

      <article class="my-5">
          
          <div class="contenedor-img">
              <img src="img/pexels-muffin-creatives-2205839(1).jpg" alt="imagen tank-top" class="playera">
              <div class="overlay-img">
                Printing Technique 4
              </div>
           
          </div>
      </article>

      <article class="my-5">
        
        <div class="contenedor-img">
            <img src="img/pexels-chelsi-peter-1564149(1).jpg" alt="imagen tank-top" class="playera">
            <div class="overlay-img">
                Printing Technique 5
            </div>
         
        </div>
    </article>

    <article class="my-5 bottom">
        
        <div class="contenedor-img">
            <img src="img/pexels-kai-pilger-996329(1).jpg" alt="imagen tank-top" class="playera">
            <div class="overlay-img">
                Printing Technique 6
            </div>
         
        </div>
    </article>

  </div>
 </div>
  </section> FIN SECCION PLAYERAS ORIGINAL -->


  <section class="estampados">
    <div class="title-style-2" id="productos">
      <div class="contenedor">
          <h2 class="titulo-2"> <span class="light"> Our </span><span class="resaltar">T-Shirts</span></h2>
      </div>
    </div>

    <div class="contenedor-playeras">
      <article class="shirts">
        <div class="contenedor-shirt">
          <img src="img/pexels-chelsi-peter-1564149(1).jpg" alt="imagen tank-top" class="shirt">
          <div class="sobreimagen">
            Printing Technique 6
          </div>
        </div>        
      </article>

      <article class="shirts">
        <div class="contenedor-shirt">
          <img src="img/pexels-francesco-paggiaro-2294342(2).jpg" alt="imagen tank-top" class="shirt">
          <div class="sobreimagen">
            Printing Technique 6
          </div>
        </div>        
      </article>

      <article class="shirts">
        <div class="contenedor-shirt">
          <img src="img/pexels-muffin-creatives-2205839(1).jpg" alt="imagen tank-top" class="shirt">
          <div class="sobreimagen">
            Printing Technique 6
          </div>
        </div>        
      </article>

      <article class="shirts">
        <div class="contenedor-shirt">
          <img src="img/pexels-ronailson-santos-1861907.jpg" alt="imagen tank-top" class="shirt">
          <div class="sobreimagen">
            Printing Technique 6
          </div>
        </div>        
      </article>

      <article class="shirts">
        <div class="contenedor-shirt">
          <img src="img/pexels-sebastiaan-stam-1311590(1).jpg" alt="imagen tank-top" class="shirt">
          <div class="sobreimagen">
            Printing Technique 6
          </div>
        </div>        
      </article>

      <article class="shirts">
        <div class="contenedor-shirt">
          <img src="img/pexels-francesco-paggiaro-581087.jpg" alt="imagen tank-top" class="shirt">
          <div class="sobreimagen">
            Printing Technique 6
          </div>
        </div>        
      </article>
    </div>

 
  </section>
  

<%- include('en/footer') -%>