<%- include('en/header') -%>

<div class="video">
    <div class="overlay">
      <div class="contenedor contenido-video">
        <h2>Mexiwear by BEREP, S.A. de C.V.</h2>
        <p>More than 30 years of experience with the highest quality in the manufacture of t-shirts.</p>
        <div class="botones">
          <a href="/full-package" class="boton">Full Package</a>
          <a href="/snc-contractor" class="boton">Sewing and Cutting Contractor</a>
        </div>
      </div>
    </div>
    <video autoplay muted loop >
      <source src="video/tela-115790.mp4" type="video/mp4">
      <source src="video/tela-115790.mp4" type="video/ogg">
      <source src="video/tela-115790.mp4" type="video/webm">
    </video>
  
  </div>
  
    <section class="contenedor" id="nosotros">
      <h2 class="quienes">About Us</h2>
      <div class="nosotros">
        <div class="imagen">
          <img src="img/tienda-ropa-tienda-ropa-perchas.jpg.webp" alt="imagen playeras">
        </div>
        <div class="contenido-nosotros">
          <h3>Mexiwear</h3>
          <p>We are a 100% Mexican company, with more than 30 years of experience in making t-shirts.</p>
        </div>
       
      </div>
      <div class="mvv">
        <div class="apartado">
          <h4>Mision</h4>
          <p>Play a role in the success of our customers by providing them with the best workforce in quality clothing
            and guaranteeing the best delivery times.</p>
        </div>
        <div class="apartado">
          <h4>Vision</h4>
          <p>To be an international company committed to the development of high quality clothing and
            consolidating stable relationships with our suppliers and customers.</p>
        </div>
        <div class="apartado">
          <h4>Values</h4>
          <p>"Our commitment is to work with determination, honesty and discipline, so that we obtain our
            experience with humility and hard work that allows us to offer an honorable service."</p>
        </div>
      </div>
     
  
    </section> <!-- FIN QUIENES SOMOS -->
  
    <section class="contenedor">
      <div class="title-style-2" id="productos">
        <div class="contenedor">
            <h2 class="titulo-2"> <span class="light"> Our </span><span class="resaltar">Products</span></h2>
        </div>
  
   </div>
  
   <div class="contenedor productos">
  
          
    <div class="col-productos">
        <article class="producto center">
            <h3 class="center title-style-3">Basic T-Shirt</h3>
            <div class="grid_productos">
                <img src="img/playera.png" alt="imagen playera cuello redondo" class="producto">
  
                <div class="descripcion-producto">
                    <p class=""><h2 class="alinear">Characteristics</h2>
                        <ul>
                            <li>Round Neck</li>
                            <li>Short Sleeve</li>
                            <li>Long Sleeve</li>
                            <li>Lady and Gentleman</li>
                        </ul>
                    </p>
                </div>
              
            </div>
        </article>
  
        <article class="producto center">
            <h3 class="center title-style-3">V-neck T-shirt</h3>
            <div class="grid_productos">
                <img src="img/PLayera V.png" alt="imagen playera-v" class="producto">
                <p><h2 class="alinear">Characteristics</h2>
  
                  <div class="descripcion-producto container">
                    <ul>
                        <li>V-neckline</li>
                        <li>Short Sleeve</li>
                        <li>Long Sleeve</li>
                        <li>Lady and Gentleman</li>
                  </ul>
                  </div>
                    
                </p>
            </div>
        </article>
  
        <article class="producto center">
            <h3 class="center title-style-3">Ranglan T-shirt</h3>
            <div class="grid_productos">
                <img src="img/ranglan.png" alt="imagen ranglan" class="producto">
                 
                 <div class="descripcion-producto">
                  <h2 class="alinear">Characteristics</h2>
                    <ul>
                        <li>Round Neck</li>
                        <li>Long Sleeve</li>
                        <li>Sleeve Colors</li>
                        <li>Lady and Gentleman</li>
                    </ul>
                 </div>
  
                   
                
            </div>
        </article>
  
        <article class="producto center">
            <h3 class="center title-style-3">Tank Top T-shirt</h3>
            <div class="grid_productos">
                <img src="img/tank top.png" alt="imagen tank-top" class="producto">
                <div class="descripcion-producto">
                    <p><h2 class="alinear">Characteristics</h2>
                        <ul>
                            <li>Round Neck</li>
                            <li>Sleeveless</li>
                            <li>Lady and Gentleman</li>
                        </ul>
                    </p>
                </div>
             
            </div>
        </article>
  
    </div>
    
  
  
  
  </div><!--fin Entrada PRODUCTOS--> 
    </section>
    
    <section class="traslados" id="traslados">
      <div class="contenedor">
        <h2 class="titulo-2"> <span class="resaltar">Shipping</span></h2>
      </div> <!--DIVISION-->
  
  
  <div class="traslados-div">
    
  
     <div class="contenedor">
  
          <p class="desc-instalaciones"></p>
          <div class="col-productos">
              <article class="producto center">
                  <h3 class="center title-style-3">Ixtlahuaca - Laredo</h3>
                  <div class="grid_traslados">
                      <img src="img/ixtlahuaca-laredo.jpg" alt="imagen instalaciones" class="traslado">
                      <p><h3 class="alinear mt-4 mb-5">Shipping Ixtlahuaca - Laredo in 24 hours.</h3>
                    
                  </div>
              </article>
      
              <article class="producto center">
                  <h3 class="center title-style-3">Laredo - L.A.</h3>
                  <div class="grid_traslados">
                      <img src="img/laredo-california.jpg" alt="manufactura" class="traslado">
                      <p><h3 class="alinear mt-5 mb-5">Shipping Laredo, TX - Los Angeles, CA in 4 days.</h3>
                        
                      </p>
                  </div>
              </article>
          </div>
          <div class="container">
              <img src="img/traslado.jpg" alt="" class="traslado mb-5">
          </div>
  
    
  
  </div><!--fin Entrada--> 
  </div>
    </section>
  
    <%- include('en/footer') -%>