
<%- include('partials/header') -%>

<div class="video">
  <div class="overlay">
    <div class="contenedor contenido-video">
      <h2>Mexiwear by BEREP, S.A. de C.V.</h2>
      <p>Más de 30 años de experiencia con la más alta calidad en la confección de playeras.</p>
      <div class="botones">
        <a href="/completo" class="boton">Paquete Completo</a>
        <a href="maquila.html" class="boton">Maquilado</a>
      </div>
    </div>
  </div>
  <video autoplay muted loop >
    <source src="video/tela-115790.mp4" type="video/mp4">
    <source src="video/tela-115790.mp4" type="video/ogg">
    <source src="video/tela-115790.mp4" type="video/webm">
  </video>

</div>

  <section class="contenedor" id="nosotros">
    <h2 class="quienes">¿Quienes Somos?</h2>
    <div class="nosotros">
      <div class="imagen">
        <img src="img/tienda-ropa-tienda-ropa-perchas.jpg.webp" alt="imagen playeras">
      </div>
      <div class="contenido-nosotros">
        <h3>Mexiwear</h3>
        <p>Somos una empresa 100% mexicana, con más de 30 años de experiencia en la confección de playeras.</p>
      </div>
     
    </div>
    <div class="mvv">
      <div class="apartado">
        <h4>Misión</h4>
        <p>Desempeñear un papel en el éxito de nuestros clientes brindándoles la mejor fuerza laboral en ropa de calidad
          y garantizando los mejores tiempos de entrega.</p>
      </div>
      <div class="apartado">
        <h4>Visión</h4>
        <p>Ser una empresa internacional comprometida con el desarrollo de prendas de vestir de alta calidad y
          consolidando relaciones estables con nuestros proveedores y clientes.</p>
          
      </div>
      <div class="apartado">
        <h4>Valores</h4>
        <p>"Nuestro compromiso es trabajar con determinación, honestidad y disciplina, para que nuestra
          experiencia la obtengamos con humildad y trabajo duro que nos permita ofrecer un servicio honorable."</p>

          
      </div>
    </div>
   

  </section> <!-- FIN QUIENES SOMOS -->

  <section class="contenedor">
    <div class="title-style-2" id="productos">
      <div class="contenedor">
          <h2 class="titulo-2"> <span class="light"> Nuestros </span><span class="resaltar">Productos</span></h2>
      </div>

 </div>

 <div class="contenedor productos">

        
  <div class="col-productos">
      <article class="producto center">
          <h3 class="center title-style-3">Playera Básica</h3>
          <div class="grid_productos">
              <img src="img/playera.png" alt="imagen playera cuello redondo" class="producto">

              <div class="descripcion-producto">
                  <p class=""><h2 class="alinear">Características</h2>
                      <ul>
                          <li>Cuello Redondo</li>
                          <li>Manga Corta</li>
                          <li>Manga Larga</li>
                          <li>Dama y Caballero</li>
                      </ul>
                  </p>
              </div>
            
          </div>
      </article>

      <article class="producto center">
          <h3 class="center title-style-3">Playera Cuello V</h3>
          <div class="grid_productos">
              <img src="img/PLayera V.png" alt="imagen playera-v" class="producto">
              <p><h2 class="alinear">Características</h2>

                <div class="descripcion-producto container">
                  <ul>
                    <li>Cuello en V</li>
                    <li>Manga Corta</li>
                    <li>Manga Larga</li>
                    <li>Dama y Caballero</li>
                </ul>
                </div>
                  
              </p>
          </div>
      </article>

      <article class="producto center">
          <h3 class="center title-style-3">Playera Ranglan</h3>
          <div class="grid_productos">
              <img src="img/ranglan.png" alt="imagen ranglan" class="producto">
               
               <div class="descripcion-producto">
                <h2 class="alinear">Características</h2>
                  <ul>
                    <li>Cuello Redondo</li>
                    <li>Manga Larga</li>
                    <li>Manga Colores</li>
                    <li>Dama y Caballero</li>
                  </ul>
               </div>

                 
              
          </div>
      </article>

      <article class="producto center">
          <h3 class="center title-style-3">Playera Tank Top</h3>
          <div class="grid_productos">
              <img src="img/tank top.png" alt="imagen tank-top" class="producto">
              <div class="descripcion-producto">
                  <p><h2 class="alinear">Características</h2>
                      <ul>
                          <li>Cuello Redondo</li>
                          <li>Sin Mangas</li>
                          <li>Dama y Caballero</li>
                      </ul>
                  </p>
              </div>
           
          </div>
      </article>

  </div>
  



</div><!--fin Entrada PRODUCTOS--> 
  </section>
  
  <section class="traslados" id="traslados">
    <div class="contenedor">
      <h2 class="titulo-2"> <span class="resaltar">Traslados</span></h2>
    </div> <!--DIVISION-->


<div class="traslados-div">
  

   <div class="contenedor">

        <p class="desc-instalaciones"></p>
        <div class="col-productos">
            <article class="producto center">
                <h3 class="center title-style-3">Ixtlahuaca - Laredo</h3>
                <div class="grid_traslados">
                    <img src="img/ixtlahuaca-laredo.jpg" alt="imagen instalaciones" class="traslado">
                    <p><h3 class="alinear mt-4 mb-5">Traslado Ixtlahuaca - Laredo en 24 Horas.</h3>
                  
                </div>
            </article>
    
            <article class="producto center">
                <h3 class="center title-style-3">Laredo - L.A.</h3>
                <div class="grid_traslados">
                    <img src="img/laredo-california.jpg" alt="manufactura" class="traslado">
                    <p><h3 class="alinear mt-5 mb-5">Traslado Laredo, TX - Los Angeles, CA en 4 días.</h3>
                      
                    </p>
                </div>
            </article>
        </div>
        <div class="container">
            <img src="img/traslado.jpg" alt="" class="traslado mb-5">
        </div>

  

</div><!--fin Entrada--> 
</div>
  </section>

  <%- include('partials/contacto') -%>
  
  <%- include('partials/footer') -%>