// Colores

$verdeGral: #003F45;
$verdeOsc: #0E222B;
$verdeCla: #296764;
$verdeLight: #53B584;
$verdeCl2: #40AA48;
$verdeLim: #41AA24;
$verdeLi2: #87C115;
$grisOsc: #31332C;


// Tipografia

$fuentePrincipal: 'Montserrat', sans-serif;