@use 'base/variables' as v;
@use 'base/mixins' as m;

.traslados {
    margin: 10rem 0;
    h2{
        margin: 3rem 0 2rem 0;
        text-align: center;
        background-color: v.$verdeGral;
        border-radius: .5rem;
       color: #fff;
       padding: 1rem;
    }
    
    img {
        border: 1rem solid v.$verdeCla;
        border-radius: 1rem;
    }
    
}